* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1c5d99;
  --secondary-color: #7ecf9b;
  --accent-color: #d6c3fc;
  --danger-color: #f8c3a3;
  --neutral-color: #ffffff;
  --text-color: #333333;
  --primary-font: "Open Sans", Sans-serif;
  --secondary-font: "Lora", Sans-serif;
  --accent-font: "Roboto Mono", Sans-serif;
}

body {
  font-family: var(--primary-font);
  background-color: var(--neutral-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

h1 {
  font-size: 1.5rem;
}

p {
  text-align: justify;
  line-height: 1.5;
  font-size: 0.9rem;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  opacity: 0.8;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

header {
  background-color: var(--primary-color);
  padding: 1rem;
  display: block;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: var(--danger-color);
  font-family: cursive;
  font-weight: 700;
  font-size: 1.5rem;
}

.logo span:first-child {
  color: var(--secondary-color);
}

.logo span:last-child {
  color: var(--danger-color);
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: var(--neutral-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  color: var(--neutral-color);
}

.nav-items li {
  cursor: pointer;
}

.nav-items a {
  display: none;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--neutral-color);
  font-weight: 600;
}

.nav-items li:hover a:hover {
  color: var(--secondary-color);
}

.open a {
  display: block;
}

main {
  min-height: 85vh;
}

footer {
  background-color: var(--primary-color);
  padding: 1rem;
}

footer p {
  text-align: center;
  color: var(--neutral-color);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  header {
    display: flex;
    padding: 1rem 2rem;
  }

  #menu {
    display: none;
  }

  .nav-items {
    flex-direction: row;
  }

  .nav-items a {
    display: block;
    flex: 1 1 100%;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-items a {
    padding: 0 2rem;
  }
}
