@media screen and (min-width: 768px) {
  main {
    padding: 3rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  main {
    margin: 1.5rem 0;
  }

  label,
  p,
  i {
    font-size: 1rem;
  }

  footer p {
    font-size: 1rem;
  }
}
