* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1a661f;
  --text-light: #f7f7f7;
  --text-dark: #0c0d0c;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.2;
}

p {
  line-height: 1.8;
  font-size: 1rem;
}

header,
footer {
  background-color: var(--primary);
  color: var(--text-light);
  padding: 1rem;
  text-align: center;
}

.hero div:first-child {
  background-color: #fff;
  height: 1rem;
}

.hero div:last-child {
  background-color: var(--primary);
  height: 1rem;
}

.hero img {
  width: 100%;
  object-fit: cover;
}

.details {
  padding: 3rem 2rem;
  text-align: center;
}

.details h2 {
  margin-bottom: 1.2rem;
}

.details .data {
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.details ul li {
  list-style-type: none;
  line-height: 2rem;
  font-size: 1rem;
}

.details ul span {
  font-weight: 600;
}
